.elementor-8
  .elementor-element.elementor-element-d4b276d:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-8
  .elementor-element.elementor-element-d4b276d
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #e59900;
}
.elementor-8 .elementor-element.elementor-element-d4b276d {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-d4b276d
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8 .elementor-element.elementor-element-5799516 img {
  width: 61%;
}
.elementor-bc-flex-widget
  .elementor-8
  .elementor-element.elementor-element-13cc9d1.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-8
  .elementor-element.elementor-element-13cc9d1.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-8
  .elementor-element.elementor-element-a8edc0e
  .hfe-nav-menu__toggle {
  margin: 0 auto;
}
.elementor-8
  .elementor-element.elementor-element-a8edc0e
  .menu-item
  a.hfe-menu-item {
  padding-left: 15px;
  padding-right: 15px;
}
.elementor-8
  .elementor-element.elementor-element-a8edc0e
  .menu-item
  a.hfe-sub-menu-item {
  padding-left: calc(15px + 20px);
  padding-right: 15px;
}
.elementor-8
  .elementor-element.elementor-element-a8edc0e
  .hfe-nav-menu__layout-vertical
  .menu-item
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(15px + 40px);
  padding-right: 15px;
}
.elementor-8
  .elementor-element.elementor-element-a8edc0e
  .hfe-nav-menu__layout-vertical
  .menu-item
  ul
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(15px + 60px);
  padding-right: 15px;
}
.elementor-8
  .elementor-element.elementor-element-a8edc0e
  .hfe-nav-menu__layout-vertical
  .menu-item
  ul
  ul
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(15px + 80px);
  padding-right: 15px;
}
.elementor-8
  .elementor-element.elementor-element-a8edc0e
  .menu-item
  a.hfe-menu-item,
.elementor-8
  .elementor-element.elementor-element-a8edc0e
  .menu-item
  a.hfe-sub-menu-item {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-8 .elementor-element.elementor-element-a8edc0e a.hfe-menu-item,
.elementor-8 .elementor-element.elementor-element-a8edc0e a.hfe-sub-menu-item {
  font-family: "Poppins", Sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.elementor-8
  .elementor-element.elementor-element-a8edc0e
  .menu-item
  a.hfe-menu-item,
.elementor-8
  .elementor-element.elementor-element-a8edc0e
  .sub-menu
  a.hfe-sub-menu-item {
  color: #ffffff;
}
.elementor-8
  .elementor-element.elementor-element-a8edc0e
  .menu-item
  a.hfe-menu-item:hover,
.elementor-8
  .elementor-element.elementor-element-a8edc0e
  .sub-menu
  a.hfe-sub-menu-item:hover,
.elementor-8
  .elementor-element.elementor-element-a8edc0e
  .menu-item.current-menu-item
  a.hfe-menu-item,
.elementor-8
  .elementor-element.elementor-element-a8edc0e
  .menu-item
  a.hfe-menu-item.highlighted,
.elementor-8
  .elementor-element.elementor-element-a8edc0e
  .menu-item
  a.hfe-menu-item:focus {
  color: #e1e1e1;
}
.elementor-8
  .elementor-element.elementor-element-a8edc0e
  .menu-item.current-menu-item
  a.hfe-menu-item,
.elementor-8
  .elementor-element.elementor-element-a8edc0e
  .menu-item.current-menu-ancestor
  a.hfe-menu-item {
  color: #e1e1e1;
}
.elementor-8 .elementor-element.elementor-element-a8edc0e .sub-menu,
.elementor-8 .elementor-element.elementor-element-a8edc0e nav.hfe-dropdown,
.elementor-8
  .elementor-element.elementor-element-a8edc0e
  nav.hfe-dropdown-expandible,
.elementor-8
  .elementor-element.elementor-element-a8edc0e
  nav.hfe-dropdown
  .menu-item
  a.hfe-menu-item,
.elementor-8
  .elementor-element.elementor-element-a8edc0e
  nav.hfe-dropdown
  .menu-item
  a.hfe-sub-menu-item {
  background-color: #fff;
}
.elementor-8 .elementor-element.elementor-element-a8edc0e ul.sub-menu {
  width: 220px;
}
.elementor-8
  .elementor-element.elementor-element-a8edc0e
  .sub-menu
  a.hfe-sub-menu-item,
.elementor-8
  .elementor-element.elementor-element-a8edc0e
  nav.hfe-dropdown
  li
  a.hfe-menu-item,
.elementor-8
  .elementor-element.elementor-element-a8edc0e
  nav.hfe-dropdown
  li
  a.hfe-sub-menu-item,
.elementor-8
  .elementor-element.elementor-element-a8edc0e
  nav.hfe-dropdown-expandible
  li
  a.hfe-menu-item,
.elementor-8
  .elementor-element.elementor-element-a8edc0e
  nav.hfe-dropdown-expandible
  li
  a.hfe-sub-menu-item {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-8
  .elementor-element.elementor-element-a8edc0e
  .sub-menu
  li.menu-item:not(:last-child),
.elementor-8
  .elementor-element.elementor-element-a8edc0e
  nav.hfe-dropdown
  li.menu-item:not(:last-child),
.elementor-8
  .elementor-element.elementor-element-a8edc0e
  nav.hfe-dropdown-expandible
  li.menu-item:not(:last-child) {
  border-bottom-style: solid;
  border-bottom-color: #c4c4c4;
  border-bottom-width: 1px;
}
.elementor-bc-flex-widget
  .elementor-8
  .elementor-element.elementor-element-fa0749a.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-8
  .elementor-element.elementor-element-fa0749a.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-8 .elementor-element.elementor-element-c04e597 .elementor-button {
  font-family: "Dosis", Sans-serif;
  font-size: 17px;
  font-weight: 600;
  background-color: #61ce7000;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-radius: 7px 7px 7px 7px;
}
.elementor-8
  .elementor-element.elementor-element-ea2cabb:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-8
  .elementor-element.elementor-element-ea2cabb
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #07112c;
}
.elementor-8 .elementor-element.elementor-element-ea2cabb {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-8
  .elementor-element.elementor-element-ea2cabb
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-8 .elementor-element.elementor-element-8f58fa1 img {
  width: 61%;
}
.elementor-bc-flex-widget
  .elementor-8
  .elementor-element.elementor-element-b092d04.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-8
  .elementor-element.elementor-element-b092d04.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-8 .elementor-element.elementor-element-4a7371e .elementor-button {
  font-family: "Dosis", Sans-serif;
  font-size: 17px;
  font-weight: 600;
  background-color: #61ce7000;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-radius: 7px 7px 7px 7px;
}
.elementor-bc-flex-widget
  .elementor-8
  .elementor-element.elementor-element-9e910af.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-8
  .elementor-element.elementor-element-9e910af.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-8
  .elementor-element.elementor-element-0a44803
  .hfe-nav-menu__toggle {
  margin: 0 auto;
}
.elementor-8
  .elementor-element.elementor-element-0a44803
  .menu-item
  a.hfe-menu-item {
  padding-left: 15px;
  padding-right: 15px;
}
.elementor-8
  .elementor-element.elementor-element-0a44803
  .menu-item
  a.hfe-sub-menu-item {
  padding-left: calc(15px + 20px);
  padding-right: 15px;
}
.elementor-8
  .elementor-element.elementor-element-0a44803
  .hfe-nav-menu__layout-vertical
  .menu-item
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(15px + 40px);
  padding-right: 15px;
}
.elementor-8
  .elementor-element.elementor-element-0a44803
  .hfe-nav-menu__layout-vertical
  .menu-item
  ul
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(15px + 60px);
  padding-right: 15px;
}
.elementor-8
  .elementor-element.elementor-element-0a44803
  .hfe-nav-menu__layout-vertical
  .menu-item
  ul
  ul
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(15px + 80px);
  padding-right: 15px;
}
.elementor-8
  .elementor-element.elementor-element-0a44803
  .menu-item
  a.hfe-menu-item,
.elementor-8
  .elementor-element.elementor-element-0a44803
  .menu-item
  a.hfe-sub-menu-item {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-8 .elementor-element.elementor-element-0a44803 a.hfe-menu-item,
.elementor-8 .elementor-element.elementor-element-0a44803 a.hfe-sub-menu-item {
  font-family: "Poppins", Sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.elementor-8
  .elementor-element.elementor-element-0a44803
  .menu-item
  a.hfe-menu-item,
.elementor-8
  .elementor-element.elementor-element-0a44803
  .sub-menu
  a.hfe-sub-menu-item {
  color: #ffffff;
}
.elementor-8
  .elementor-element.elementor-element-0a44803
  .menu-item
  a.hfe-menu-item:hover,
.elementor-8
  .elementor-element.elementor-element-0a44803
  .sub-menu
  a.hfe-sub-menu-item:hover,
.elementor-8
  .elementor-element.elementor-element-0a44803
  .menu-item.current-menu-item
  a.hfe-menu-item,
.elementor-8
  .elementor-element.elementor-element-0a44803
  .menu-item
  a.hfe-menu-item.highlighted,
.elementor-8
  .elementor-element.elementor-element-0a44803
  .menu-item
  a.hfe-menu-item:focus {
  color: #e1e1e1;
}
.elementor-8
  .elementor-element.elementor-element-0a44803
  .menu-item.current-menu-item
  a.hfe-menu-item,
.elementor-8
  .elementor-element.elementor-element-0a44803
  .menu-item.current-menu-ancestor
  a.hfe-menu-item {
  color: #e1e1e1;
}
.elementor-8 .elementor-element.elementor-element-0a44803 .sub-menu,
.elementor-8 .elementor-element.elementor-element-0a44803 nav.hfe-dropdown,
.elementor-8
  .elementor-element.elementor-element-0a44803
  nav.hfe-dropdown-expandible,
.elementor-8
  .elementor-element.elementor-element-0a44803
  nav.hfe-dropdown
  .menu-item
  a.hfe-menu-item,
.elementor-8
  .elementor-element.elementor-element-0a44803
  nav.hfe-dropdown
  .menu-item
  a.hfe-sub-menu-item {
  background-color: #07112c;
}
.elementor-8 .elementor-element.elementor-element-0a44803 ul.sub-menu {
  width: 220px;
}
.elementor-8
  .elementor-element.elementor-element-0a44803
  .sub-menu
  a.hfe-sub-menu-item,
.elementor-8
  .elementor-element.elementor-element-0a44803
  nav.hfe-dropdown
  li
  a.hfe-menu-item,
.elementor-8
  .elementor-element.elementor-element-0a44803
  nav.hfe-dropdown
  li
  a.hfe-sub-menu-item,
.elementor-8
  .elementor-element.elementor-element-0a44803
  nav.hfe-dropdown-expandible
  li
  a.hfe-menu-item,
.elementor-8
  .elementor-element.elementor-element-0a44803
  nav.hfe-dropdown-expandible
  li
  a.hfe-sub-menu-item {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-8
  .elementor-element.elementor-element-0a44803
  .sub-menu
  li.menu-item:not(:last-child),
.elementor-8
  .elementor-element.elementor-element-0a44803
  nav.hfe-dropdown
  li.menu-item:not(:last-child),
.elementor-8
  .elementor-element.elementor-element-0a44803
  nav.hfe-dropdown-expandible
  li.menu-item:not(:last-child) {
  border-bottom-style: solid;
  border-bottom-color: #c4c4c4;
  border-bottom-width: 1px;
}
.elementor-8
  .elementor-element.elementor-element-0a44803
  div.hfe-nav-menu-icon {
  color: #ffffff;
}
.elementor-8
  .elementor-element.elementor-element-0a44803
  div.hfe-nav-menu-icon
  svg {
  fill: #ffffff;
}
@media (max-width: 767px) {
  .elementor-8 .elementor-element.elementor-element-6a0e50a {
    width: 25%;
  }
  .elementor-8 .elementor-element.elementor-element-8f58fa1 img {
    width: 100%;
  }
  .elementor-8 .elementor-element.elementor-element-b092d04 {
    width: 50%;
  }
  .elementor-8 .elementor-element.elementor-element-9e910af {
    width: 25%;
  }
}
@media (min-width: 768px) {
  .elementor-8 .elementor-element.elementor-element-11fcfe5 {
    width: 13%;
  }
  .elementor-8 .elementor-element.elementor-element-13cc9d1 {
    width: 73.332%;
  }
  .elementor-8 .elementor-element.elementor-element-fa0749a {
    width: 13%;
  }
  .elementor-8 .elementor-element.elementor-element-6a0e50a {
    width: 13%;
  }
  .elementor-8 .elementor-element.elementor-element-b092d04 {
    width: 13%;
  }
  .elementor-8 .elementor-element.elementor-element-9e910af {
    width: 73.332%;
  }
}
